@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/kob3rhg.css");

*,
*::before,
*::after {
  font-family: "ivysoft-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wght" 400;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
